#navsec {
  display: flex;
  flex-direction: column;
}
.upperslice {
  display: flex;
  color: var(--text);
}
.upperslice ul {
  list-style: none;
}
.upperslice li {
  text-decoration: none;
}
.lowerslice ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  margin: 0 auto;
}
