/* css imports */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap');

/* css reset */
:root {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  --light: #fff;
  --dark: #2e2e22;
  --text: #354e57;
  --primary: #eef3f4;
  background-color: var(--primary);
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  color: var(--dark);
  border: 1px solid var(--text);
  width: 10rem;
  height: 2rem;
  background-color: transparent;
}
